.reveal .slides > section.art {padding:0; height:100%;}
.reveal .slides > section.art h2 {display:none;}
.reveal .photo-credit {position:absolute;bottom:35px;left:5%;width:90%;text-align:center;color:#182e48;background:#faf9f9;font:20px/1.4 sans-serif; padding:8px 0;}
